In [50]:
from Bio import pairwise2
from Bio.Seq import Seq
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import seaborn as sns 
import random
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
import scipy.cluster.hierarchy as shc
import collections

In [9]:
species = "horse"
bed_file = 'horse/'+'sep1_244_sorted.bed' # contains loci for all sep1 coordinates
results_file = 'horse/'+'v2output_sep1.txt'# contains VCF info for every sample that has SV in one of the identified coordinates

In [10]:
cons_seq = Seq("nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnTTTTTTTTTTTTTTTTTTAAAGATTTTATT \
    TTTTCCTTTTTCTCCCCAAAGCCCCnnnnCCGGTACnnnnnnnATAGTTGTGTATTCTTC \
    GTTGTnnnnGGGTTCTTCTAGTnTGTGGCATGTGGGACGCTnGCCTCAGCGTGGTCTGAT \
    GAGCAGTGCCATGTCCGCGCCCAGGATTnCGnnnAACCAACGAAACACTGGGCCGCCTGC \
    AGCGGAGCGCnnnnGnnCGAACTTAACCACTCGGCCACGGGGGCCAGCCCCnnnnnnnnn \
    nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn")
# Finding similarities
#score = pairwise2.align.globalxx(seq1, seq1, score_only = True)
#print(score)
print(len(cons_seq))
colors = {'PRZEWALSKI' : 'red', 'AKHAL-TEKE' : 'blue', 'ARABIAN' : 'green', \
          'QUARTER HORSE' : 'yellow', "MONGOLIAN" : "brown", "THOROUGHBRED" : 'orange', \
          'FRIESIAN' : 'black', 'HANOVARIAN' : 'pink', 'JEJU HORSE' : 'gray', \
          'CURLY HORSE' : 'purple', 'DEBAO' : 'teal', 'CRIOLLO' : 'tan'}

362

In [11]:
# get all loci
entries = []
with open(bed_file) as f:
    lines = f.readlines()
    for line in lines: #
        line = line.split()
        end = int(line[1]) + int(line[2])
        t = ">"+line[0]+":"+line[1]+"-"+str(line[1])
        if line[0] not in ['X','Y']:
            entries.append(t)
meta_data = pd.read_csv('horse/horse_sra_simple.csv')
meta_data.columns = ['sra','breed']
color_col = []
for index, row in meta_data.iterrows():
    row['breed'] = row['breed'] + str(random.randint(0,9))

In [12]:
samples = {}
with open(results_file) as f:
    lines = f.readlines()
    for line in lines:
        if "output" in line:
            sample_name = line.split('/')[1].strip()
            breed_name = meta_data.loc[meta_data['sra'] == sample_name]
            #print(breed_name, sample_name)
            breed_name = breed_name['breed'].values[0]
            samples[breed_name] = np.zeros(len(entries)) 
            
        else:
            t = line.split()
            chrom = t[0]
            start = t[1]
            end = start
            seq = re.search('SVINSSEQ=(.*);SPLIT_READS',line)
            seq = seq.group(1)
            s = ">"+chrom+":"+start+"-"+end
            if s in entries and chrom not in  ['X', 'Y']: # SV is in TE loci, get percent identify to cons seq
                idx = entries.index(s)
                score = pairwise2.align.globalxx(cons_seq, Seq(seq), score_only = True)
                samples[breed_name][idx] = score
print(len(samples.keys()))

41

In [13]:
df=pd.DataFrame.from_dict(samples,orient='index').transpose()

In [14]:
#df = df.loc[:, ~df.columns.str.startswith('QUARTER')]
#df = df.loc[:, ~df.columns.str.startswith('FRIESIAN')]
#df = df.loc[:, ~df.columns.str.startswith('MONGOLIAN')]
#df = df.loc[:, ~df.columns.str.startswith('PRZ')]
#df = df.loc[:, ~df.columns.str.startswith('THOROUGH')]
#df = df.loc[:, ~df.columns.str.startswith('CRIOLLO')]
#df = df.loc[:, ~df.columns.str.startswith('DEBAO')]
#df = df.loc[:, ~df.columns.str.startswith('HANOV')]
#df = df.loc[:, ~df.columns.str.startswith('JEJU')]
#df = df.loc[:, ~df.columns.str.startswith('CURLY')]
#df = df.loc[:, ~df.columns.str.startswith('AKHAL')]
#df = df.loc[:, ~df.columns.str.startswith('ARAB')]

cols = list(df.columns.values)
cols = sorted(cols, key=str.lower)
df_new = df[cols]
df_final = df_new.iloc[0:900]
df_final = df_final.transpose()

In [18]:
print(df_final.head())
print(df_final.columns)

             0    1      2    3      4      5      6    7    8    9    ...  \
AKHAL-TEKE2  0.0  0.0  230.0  0.0    0.0    0.0  223.0  0.0  0.0  0.0  ...
AKHAL-TEKE5  0.0  0.0    0.0  0.0  230.0  225.0    0.0  0.0  0.0  0.0  ...
AKHAL-TEKE6  0.0  0.0    0.0  0.0  230.0    0.0  222.0  0.0  0.0  0.0  ...
AKHAL-TEKE8  0.0  0.0  230.0  0.0    0.0    0.0    0.0  0.0  0.0  0.0  ...
AKHAL-TEKE9  0.0  0.0  230.0  0.0    0.0    0.0  222.0  0.0  0.0  0.0  ...

               801  802  803  804    805  806  807    808  809  810
AKHAL-TEKE2    0.0  0.0  0.0  0.0    0.0  0.0  0.0  227.0  0.0  0.0
AKHAL-TEKE5    0.0  0.0  0.0  0.0    0.0  0.0  0.0    0.0  0.0  0.0
AKHAL-TEKE6    0.0  0.0  0.0  0.0    0.0  0.0  0.0    0.0  0.0  0.0
AKHAL-TEKE8    0.0  0.0  0.0  0.0  229.0  0.0  0.0    0.0  0.0  0.0
AKHAL-TEKE9  229.0  0.0  0.0  0.0    0.0  0.0  0.0    0.0  0.0  0.0

[5 rows x 811 columns]
RangeIndex(start=0, stop=811, step=1)

In [58]:
print(df_final.iloc[:,0].index)
print(len(df_final.columns))
s_names = list(df_final.iloc[:,0].index)
contents = []
for i in range(len(df_final.columns)):
    vals = np.array(df_final.iloc[:,i].values)
    idx = np.where(vals!=0)[0]
    pos_hits = [s_names[n][:-1] for n in idx]
    c = collections.Counter(pos_hits)
    contents.append({k: v / len(df_final) for k, v in c.items()})

Index(['AKHAL-TEKE2', 'AKHAL-TEKE5', 'AKHAL-TEKE6', 'AKHAL-TEKE8',
       'AKHAL-TEKE9', 'ARABIAN2', 'ARABIAN3', 'ARABIAN4', 'ARABIAN5',
       'ARABIAN6', 'ARABIAN7', 'CRIOLLO1', 'CURLY HORSE7', 'DEBAO4', 'DEBAO8',
       'FRIESIAN0', 'FRIESIAN1', 'FRIESIAN4', 'FRIESIAN5', 'FRIESIAN7',
       'FRIESIAN9', 'HANOVARIAN7', 'JEJU HORSE0', 'MONGOLIAN0', 'MONGOLIAN4',
       'MONGOLIAN6', 'MONGOLIAN7', 'PRZEWALSKI5', 'PRZEWALSKI7', 'PRZEWALSKI8',
       'QUARTER HORSE0', 'QUARTER HORSE3', 'QUARTER HORSE6', 'QUARTER HORSE7',
       'QUARTER HORSE8', 'QUARTER HORSE9', 'THOROUGHBRED0', 'THOROUGHBRED3',
       'THOROUGHBRED4', 'THOROUGHBRED6', 'THOROUGHBRED8'],
      dtype='object')
811

In [ ]:
df_plot = pd.DataFrame(contents)
df_plot[0:100].plot(kind='bar')